body {
    .p_close,
    .p_close:before,
    .p_close:after,
    button,
    .search_in_other {
        transition: all ease-in 350ms;
    }

    .dictionary-container .extra_search {
        transition: all ease-in 400ms;
    }

    .black_cover {
        transition: all ease-in 450ms;
    }

    .black_cover {
        cursor: pointer;
        background-color: rgba(0,0,0,.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 400;
        backdrop-filter: blur(4px);
        opacity: 0;
        visibility: hidden;

        &.p_active {
            opacity: 1;
            visibility: visible;
        }
    }

    .p_empty {
        opacity: 0;
        visibility: hidden;
    }

    .p_close {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
        position: absolute;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:before, &:after {
            line-height: 50px;
            content: "";
            width: 15px;
            height: 1px;
            position: absolute;
            background-color: #000;
            right: auto;
            display: block;
        }

        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }

        &:hover {
            background-color: #0077cc;

            &:before, &:after {
                background-color: #fff;
            }
        }
    }

    .dictionary-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;

        .search-box {
            position: relative;

            .p_lang_wrap {
                display: flex;
                justify-content: center;
                gap: 20px;
            }

            .p_search_wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0;

                #search-input {
                    width: 70%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }

                #search-button {
                    background-color: #0077cc;
                    color: #fff;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-left: 20px;

                    &:hover {
                        background-color: #005599;
                    }
                }
            }

            #list_search {
                z-index: 9;
                opacity: 0;
                visibility: hidden;
                transition: all ease-in 350ms;
                transform: translateY(-10px);
                margin-top: 20px;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                width: 100%;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                &.p_active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }

                h3 {
                    color: #fff;
                    margin: 0px;
                    padding: 10px;
                    background-color: #0077cc;
                    border-radius: 10px 10px 0 0;
                }

                a {
                    color: #000;
                    padding: 10px 10px 0px 10px;

                    &:not(:last-child) {
                        &:after {
                            content: '';
                            width: 100%;
                            border-top: 1px solid black;
                            margin-top: 10px;
                        }
                    }

                    &:last-child {
                        padding: 10px;
                    }

                    .word_text {
                        font-weight: 700;
                    }
                }

                .p_drop_down {
                    overflow-y: auto;
                    max-height: 400px;


                    .search_in_other:hover {
                        color: #0077cc;
                        text-decoration: underline;
                    }
                }
            }
        }


        #result {
            text-align: center;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            .word_item {
                width: 100%;
            }
        }

        .extra_search {
            padding: 0;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-60%);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 401;

            .p_close {
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
                background-color: #fff;

                &:hover {
                    background-color: #0077cc;
                }
            }

            &.p_active {
                transform: translate(-50%,-50%);
                opacity: 1;
                visibility: visible;
            }

            #lbdict_frame_view {
                border-radius: 10px;

                iframe {
                    border-radius: 10px;

                    .frame_lookup {
                        .poweredby {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .search_history_wrap {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 30px auto;

        .search_history {
            h3 {
                text-align: center;
            }

            a {
                color: #000;
                padding: 10px 10px 0px 10px;

                &:not(:last-child) {
                    &:after {
                        content: '';
                        width: 100%;
                        border-top: 1px solid black;
                        margin-top: 10px;
                    }
                }

                &:last-child {
                    padding: 10px;
                }

                .word_text {
                    font-weight: 700;
                }
            }
        }
    }

    .p_flex_start {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    a {
        text-decoration: none;
    }

    h1 {
        text-align: center;
        color: #333;
    }
}
