@model IEnumerable<Dictionary.Models.SearchWords_Result>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <p  class="word_item p_flex_start">
        <span class="word_text">@Html.DisplayFor(modelItem => item.sWord)</span>
        <span class="word_attr p_flex_start">
            <span class="word_type"> Loại từ  : @Html.DisplayFor(modelItem => item.sWordtype)</span>
            <span class="word_type"> Ví dụ  : @Html.DisplayFor(modelItem => item.sExample)</span>
            <span class="word_type"> Mô tả  : @Html.DisplayFor(modelItem => item.sDefinition)</span>
        </span>
    </p>
}


